.jumbotron {
    background-color: navy;
    color:white;
    font-weight: bold;
}

form {
    margin: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

h3 {
    font-size: 14px;
    background-color: black;
    color: white;
}

.container {
    margin: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.results {
    width: 100px;
}